In [1]:
import pandas as pd

In [3]:
data_path = "Online Retail.xlsx"


def import_data(filename: str) -> pd.DataFrame:
    return pd.read_excel(data_path)
data = import_data('data_path')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
def filter_data(df: pd.DataFrame) -> pd.DataFrame:
    df = df.dropna(subset = ['CustomerID'])
    df = df[(df['Quantity'] >= 0) & (df['UnitPrice'] >= 0)]
    return df

df = filter_data(data)

In [17]:
def loyalty_customers(df: pd.DataFrame, min_purchases: int) -> pd.DataFrame:
    return df.groupby('CustomerID')['Quantity'].sum()
    #return df['Quantity'] > min_purchases

loyal = loyalty_customers(data, 5)
loyal.head()

CustomerID
12346.0       0
12347.0    2458
12348.0    2341
12349.0     631
12350.0     197
Name: Quantity, dtype: int64

In [18]:
print(type(loyal))

<class 'pandas.core.series.Series'>